@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/*--------------------------------------------Heading*/

header { 

    background-color: rgb(241, 241, 241);
}

.rocklogo { 

    font-family: 'Rock Salt', cursive;
    text-align: center;
    background-color: rgb(241, 241, 241);
    margin: 0%;
    
}

.rocklogo h2 {

    font-family: 'Rock Salt', cursive;
    text-transform: uppercase; 
    color: rgb(199, 166, 74);
    padding-top: 15px;
    letter-spacing: 4px;
    font-weight: 900;  
    margin: 0%;
}

.rocklogo h4 { 

    text-transform: capitalize;
    color:rgb(199, 166, 74);;
    padding-bottom: 5px;
    letter-spacing: 4px;
    font-weight: 900;
    margin: 0px;
}

.navstyle { 

    padding-top: 0px;
    padding-bottom: 5px;
}



/*--------------------------------------------Main Image and  Call Offer*/

/*--------------------------------------------copy from Loverunningproject*/

#hero-image{
    height:600px;
    width: 100%;
    background: url("assets/images/studioclass1.jpg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
  

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: khaki ;
    font-size: 150%;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

#cover-text {
    font-size: 110%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 350px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(166, 163, 163, 0.7);

    bottom: 30px;
    left: 150px;

    position: absolute;
    float: left;

}

/*-------------------------------------------General*/
*{ 
    margin:0;
    padding:0;
    border:0;
    color:rgb(78, 74, 74)

}


.equal-height-columns { 
    display: -webkit-box;
    display:-webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .col {
      display: block;
      width: 100%;
    }
  }

.equal-column-content { 

    height: 100%;

}
 /*--------copy and modify from love running project*/

#call-offer {

    font-size: 90%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0.2;
    font-family: 'Rock salt', cursive;
    
    width: 300px;
    height: 220px;

    padding-top: 20px;
    padding-left: 10px;

    background-color:rgb(182, 179, 179);
    opacity: 80%;

    bottom: 50px;
    left: 150px;

    position: absolute;

}

#call-outer {

    height:700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
/*--------copy from love running project end*/

/*---------------------------------------Offer section*/

.intro-offer h2 { 

    text-align: center;
    font-family: 'Rock salt', cursive;
    font-weight: 400;
    color:rgb(177, 142, 48);
    letter-spacing: 1px;

}

.intro-offer { 

    font-family: 'Rock salt', cursive;
    text-align: center;
    margin:0;
    border:0;
    color:rgb(78, 74, 74);
    letter-spacing: 2px;

}


/*-----------------------------------------Classes and Workshops links*/


.classes-link h2 {

    color:rgb(177, 142, 48);
    text-align: center;

}

.workshops-link h2 { 

    color:rgb(177, 142, 48);
    text-align: center;
    
}


.hvr-rectangle-out { 

    color: rgba(0, 0, 0, 0.2);
} 



/*-----------------------------------------Our Teachers*/

.teachers h2 {

    text-align: center;
    font-family: 'Rock salt', cursive;
    font-weight: 400;
    color:rgb(177, 142, 48);
    letter-spacing: 1px;

}

.teachers  {

    font-family: 'Rock salt', cursive;
    text-align: center;
    margin:0;
    padding:0;
    border:0;
    color:rgb(78, 74, 74);
    letter-spacing: 2px;

}

/*-----------------------------------------Stories*/

.stories h2 { 

    text-align: center;
    font-family: 'Rock salt', cursive;
    font-weight: 400;
    color:rgb(177, 142, 48);
    letter-spacing: 1px;
}


.stories {

    font-family: 'Rock salt', cursive;
    text-align: center;
    margin:0;
    padding:0;
    border:0;
    color:rgb(78, 74, 74);
    letter-spacing: 2px;

    

}

/*-----------------------------------------Visit Us*/

.visit-us, p { 

 letter-spacing: 2px;


}

.visit-us h2 {

    text-transform: uppercase;
    text-align: center;
    font-family: 'Rock salt', cursive;
    font-weight: 400;
    color:rgb(177, 142, 48);
    letter-spacing: 1px;
}
    
/*----------------------------------footer*/

footer h2 { 

    color:rgb(177, 142, 48); 
    font-family: 'Rock salt', cursive;
}

footer { 

    height: 150px;
    background-color: rgb(241, 241, 241);
    font-family:'Rock Salt', sans-serif ; 
    text-align: center;
    font-weight: 900;
}

.find-us { 

    text-align: center;

}

.find-us li {

    display: inline;
}


/*----------------------------------classes.html*/

.class-list h2  {

    text-align: center;
    font-family: 'Rock salt', cursive;
    font-weight: 400;
    color:rgb(177, 142, 48);
    letter-spacing: 1px;
}

.class-list { 

    font-family: 'Rock salt', cursive;
    font-weight: 400;
    letter-spacing: 1px;

}

.prices-list h2 { 

    text-align: center;
    font-family: 'Rock salt', cursive;
    font-weight: 400;
    color:rgb(177, 142, 48);
    letter-spacing: 1px;
}

.prices-list { 

    font-family: 'Rock salt', cursive;
    font-weight: 400;
    letter-spacing: 1px;

}

/*------------------------------Workshops.html*/

/*------------------------------Ahimsa.html*/

.ahimsa-text h2 {

    text-transform: capitalize;
    text-align: center;
    font-family: 'Rock salt', cursive;
    font-weight: 400;
    color:rgb(177, 142, 48);
    letter-spacing: 2px;
}

.ahimsa-text { 

    font-family: 'Rock salt', cursive;
    text-align: center;
    margin:0;
    padding:0;
    border:0;
    color:rgb(78, 74, 74);
    letter-spacing: 2px;
    font-weight: lighter;
    

}

.ahimsa-text a { 

    color:black;
    font-weight: 100;
    
}

.ahimsa-text li { 

    text-align: left;
    font-weight: 100;
    font-size: 150%;
    
} 











