@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/*--------------------------------------------Heading*/

.rocklogo { 
    font-family: 'Rock Salt', cursive;
    text-align: center;
    background-color: rgb(155, 153, 153);
    margin: 0%;
    
}

.rocklogo h2 {
    font-family: 'Rock Salt', cursive;
    text-transform: uppercase; 
    color: rgb(199, 166, 74);
    padding-top: 5px;
    letter-spacing: 4px;
    font-weight: 900;  
}

.rocklogo h4 { 
    text-transform: capitalize;
    color:rgb(199, 166, 74);;
    padding-bottom: 5px;
    letter-spacing: 4px;
    font-weight: 900;
}


header { 
    background-color: rgba(230, 220, 220, 0.918)
}


/*--------------------------------------------Body General*/


*{ 
    margin:0;
    padding:0;
    border:0;
    color:rgb(78, 74, 74)

}


/*--------------------------------------------Main Image and  Call Offer*/

.hero-image { 
    height: 500px;
    width: 100%;
    position: relative;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}
#call-offer h2 {
     color: khaki ;
     font-size: 150%;
     text-align: center;
     
}

 /*--------copy and modify from love running project*/

#call-offer {
    font-size: 90%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0.2;
    font-family: 'Rock salt', cursive;
    
    width: 300px;
    height: 180px;

    padding-top: 20px;
    padding-left: 10px;

    background-color:rgb(182, 179, 179);
    opacity: 80%;

    bottom: 40px;
    left: 150px;

    position: absolute;

}

#call-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
/*--------copy from love running project end*/

/*---------------------------------------Offer section*/

.intro-offer { 
    text-align: center;
    color:rgb(199, 166, 74);
    font-family: 'Rock salt', cursive;
    height:325px;
    width: 250px;
    letter-spacing: 2px;
}


/*-----------------------------------------Classes and Workshops*/


#classes-link h2 {
    color:rgb(177, 142, 48);
}

#workshops-link h2 { 

    color:rgb(177, 142, 48);
    
}
/*-----------------------------------------Our Teachers*/

.teachers, h2 {
text-align: center;
font-family: 'Rock salt', cursive;
font-weight: 400;
color:rgb(177, 142, 48);
letter-spacing: 1px;

}

.teachers, p {

}

/*-----------------------------------------Stories*/

.stories, h2 { 
    text-align: center;
    font-family: 'Rock salt', cursive;
    font-weight: 400;
    color:rgb(177, 142, 48);
    letter-spacing: 1px;
}

.stories, p {

}

/*-----------------------------------------Visit Us*/

.visit-us { 

}

.visit-us h2 {
    text-transform: uppercase;
    
}


/*----------------------------------footer*/

footer { 
    height: 150px;
    background-color: rgb(218, 206, 214);
    font-family:'Rock Salt', sans-serif ; 
    text-align: center;
}

.find-us { 
    text-align: center;

}

.find-us li {
    display: inline;
}

.form-section { 
  
}




